In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./downloaded_training_report.tsv', sep='\t', header=None)

In [3]:
data.columns = ['caption', 'file_name', 'folder', 'height', 'id', 'status', 'url', 'width']

In [4]:
data = data[['file_name', 'id', 'caption', 'height', 'width']]

In [5]:
data

,file_name,id,caption,height,width
0,NaN,NaN,a very typical bus station,NaN,NaN
1,NaN,NaN,sierra looked stunning in this top and this sk...,NaN,NaN
2,3.jpg,3.0,young confused girl standing in front of a war...,612.0,490.0
3,NaN,NaN,interior design of modern living room with fir...,NaN,NaN
4,NaN,NaN,cybernetic scene isolated on white background .,NaN,NaN
...,...,...,...,...,...
3318328,3318329.jpg,3318329.0,the teams line up for a photo after kick - off,600.0,962.0
3318329,3318330.jpg,3318330.0,stickers given to delegates at the convention .,900.0,900.0
3318330,NaN,NaN,this is my very favourite design that i recent...,NaN,NaN
3318331,3318332.jpg,3318332.0,man driving a car through the mountains,433.0,650.0
3318332,3318333.jpg,3318333.0,a longtail boat with a flag goes by spectacula...,444.0,640.0

In [6]:
data = data[data['id'].notna()]

In [7]:
data

,file_name,id,caption,height,width
2,3.jpg,3.0,young confused girl standing in front of a war...,612.0,490.0
5,6.jpg,6.0,gangsta rap artist attends sports team vs play...,1024.0,645.0
6,7.jpg,7.0,the jetty : different types of plants to estab...,678.0,1200.0
8,9.jpg,9.0,# of the sports team skates against sports tea...,612.0,491.0
13,14.jpg,14.0,actor arrives for the premiere of the film,612.0,408.0
...,...,...,...,...,...
3318326,3318327.jpg,3318327.0,historical illustration of the visit .,460.0,640.0
3318328,3318329.jpg,3318329.0,the teams line up for a photo after kick - off,600.0,962.0
3318329,3318330.jpg,3318330.0,stickers given to delegates at the convention .,900.0,900.0
3318331,3318332.jpg,3318332.0,man driving a car through the mountains,433.0,650.0
3318332,3318333.jpg,3318333.0,a longtail boat with a flag goes by spectacula...,444.0,640.0

In [8]:
import json
lvis_info = '/data00/lvis/lvis_v1_val.json'
categories = json.load(open(lvis_info, 'r'))['categories']

In [9]:
data.iloc[0]

file_name                                                3.jpg
id                                                         3.0
caption      young confused girl standing in front of a war...
height                                                   612.0
width                                                    490.0
Name: 2, dtype: object

In [10]:
from tqdm import tqdm
images = []
for i in tqdm(range(len(data))):
    image_info = {
        'id': int(data.iloc[i, 1]),
        'file_name': data.iloc[i, 0],
        'height': int(data.iloc[i, 3]),
        'width': int(data.iloc[i, 4]),
        'captions': [data.iloc[i, 2]],
    }
    images.append(image_info)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1861382/1861382 [03:08<00:00, 9880.96it/s]

In [11]:
data_json = {'categories': categories, 'images': images, 'annotations': []}

In [12]:
json.dump(data_json, open('../cc3m_train_info.json', 'w'))